// VARIABLES AND MIXINS

// FONTS  
$font-large: 3.6rem;
$font-big: 1.6rem;
$font-medium: 1.4rem;
$font-small: 1.2rem;

// COLORS
$color-primary: #00b5ef;
$color-secondary: #0873a0;
$color-gray-dark: #5f5f5f;
$color-gray-regular: #ccc;
$color-gray-regular-2: rgb(204, 204, 204);
$color-gray-light: #f7f7f7;
$color-white: #fff;

